body{
    background-image: url('fondo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1{
    font-family: 'Aboreto', cursive;
}

#titulo{
    display: flex;
    align-content: center;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
}

#button{
    position: absolute;
    font-size: larger;
    font-weight: 600;
    font-family: 'Aboreto', cursive;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background-image: linear-gradient(to bottom right, rgb(247, 0, 255), rgb(38, 0, 255));
    color: aliceblue;
    top: 50%;
}
